.contrainerForm {
  width: 99%;
  height: 100%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.forUser {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: solid black 1px;
}
.forUser form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
.nombre {
  width: 50%;
  height: 30px;
  border-radius: 30px;
  border-color: white;
  background-color: #321e06;
  font-size: 15px;
  text-align: center;
}

.documento {
  width: 40%;
  height: 30px;
  border-radius: 30px;
  border-radius: 30px;
  border-color: white;
  background-color: #321e06;
  font-size: 15px;
  text-align: center;
}
.telefono {
  width: 30%;
  height: 30px;
  border-radius: 30px;
  border-color: white;
  background-color: #321e06;
  font-size: 15px;
  text-align: center;
}
.direccion {
  width: 30%;
  height: 30px;
  border-radius: 30px;
  border-color: white;
  background-color: #321e06;
  font-size: 15px;
  text-align: center;
}
.email {
  width: 30%;
  height: 30px;
  border-radius: 30px;
  border-color: white;
  background-color: #321e06;
  font-size: 15px;
  text-align: center;
}
.forProduct {
  width: 70%;
  height: 30%;
  border: solid black 1px;
}
.forTerms {
  width: 70%;
  height: 30%;
  border: solid black 1px;
}
