.containerForm {
  width: 50%;
  height: 70vh;
  background-color: black;
  opacity: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}
.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerForm h1 {
  font-size: 25px;
  font-weight: bolder;
  color:#b3965a;
  letter-spacing: 5px;
}
.gif {
  color: white;
  width: 40px;
  height: 70px;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 16px;
}
.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 50px;
  color:#b3965a;
}
.inputs input {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid white 1px;
}
.form button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border-color: #b3965a;
  outline: none;
  cursor: pointer;
  color: white;
}
.form button:hover{
  background-color:#b3955a9d;
}
.support {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  gap: 5px;
}
.support a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.support p {
  font-size: 12px;
}
