
.containerSidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: white;
}
.containerMenu {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 13px; 
    justify-content: center;
    align-items: center;
}
.containerMenu button{
    /* padding: 10px 80px; */
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border-color: #b3965a;
    background-color:transparent;
    cursor: pointer;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerMenu button:hover{
    background-color:#b3955a2a;
}
.containerMenu a{
    text-decoration: none;
    color:#b3965a;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
.gifs{
   height: 18px;
}
.containerMenu a:hover{
    color:white;
}
.btnClosed{
    margin-bottom: 10px;
    padding: 10px 50px;
    border-radius: 30px;
    border: solid black 0.5px;
    background-color:#b3965a;
    cursor: pointer;
    color:black;
    font-size: 15px;
    font-weight: bold;
}
.btnClosed a{
    text-decoration: none;
    color: white;
}
.logoHome{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    margin-top: 15px;
    animation: rotar 5s linear infinite;
}
.logoHome:hover{
    cursor: pointer;
}
@keyframes rotar{
    from{
        transform: rotateY(180deg);
    }to{
        transform: rotateY(360deg);
    }
}

.logoHome img{
    width: 200px;
    height: 100%;
}



